/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #373fff;
}

/*.state {
  position: absolute;
}*/

#LA {
  position: absolute;
  left: 450px;
  top: 740px;
}

#SD {
  position: absolute;
  left: 550px;
  top: 840px;
}

#SF {
  position: absolute;
  left: 150px;
  top: 415px;
}

#GrandCanyon {
  position: absolute;
  left: 310px;
  top: 250px;
}

#Phoenix {
  position: absolute;
  left: 280px;
  top: 575px;
}

#Tucson {
  position: absolute;
  left: 410px;
  top: 660px;
}

#Honolulu {
  position: absolute;
  left: 330px;
  top: 165px;
}

#Kailua-Kona {
  position: absolute;
  left: 625px;
  top: 400px;
}

#Hilo {
  position: absolute;
  left: 730px;
  top: 400px;
}

#Detroit {
  position: absolute;
  left: 690px;
  top: 700px;
}

#AnnArbor {
  position: absolute;
  left: 645px;
  top: 705px;
}

#TraverseCity {
  position: absolute;
  left: 470px;
  top: 380px;
}

#AtlanticCity{
  position: absolute;
  left: 440px;
  top: 600px;
}

#Hoboken{
  position: absolute;
  left: 520px;
  top: 250px;
}

#OceanCity{
  position: absolute;
  left: 400px;
  top: 670px;
}

.footer {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}