/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#LA {
  position: absolute;
  left: 450px;
  top: 740px;
}

#SD {
  position: absolute;
  left: 550px;
  top: 840px;
}

#SF {
  position: absolute;
  left: 150px;
  top: 415px;
}
